/* Reset */
@import 'tailwindcss/base';


/* Components */
@import 'tailwindcss/components';



/* Utilities */
@import 'tailwindcss/utilities';
@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');

}

body {
    font-family: 'Roboto', sans-serif!important;
}

.wrap {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}
