/* Reset */
@import 'tailwindcss/base';

/* Components */
@import 'tailwindcss/components';

/* Utilities */
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Roboto';
    src: url('/public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8B60ED #DFE9EB;
}

/* Chrome, Edge, et Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px; /* Ajoutez cette ligne pour spécifier la hauteur de la barre de défilement horizontale */
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #8B60ED;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #8B60ED;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #8B60ED;
}

/* Styles spécifiques pour la barre de défilement horizontale */
*::-webkit-scrollbar-thumb:horizontal {
    background-color: #8B60ED;
}

*::-webkit-scrollbar-thumb:hover:horizontal {
    background-color: #8B60ED;
}

*::-webkit-scrollbar-thumb:active:horizontal {
    background-color: #8B60ED;
}


html {
    overflow-x: hidden
}

body {
    font-family: 'Roboto', sans-serif !important;
}

.wrap {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4rem;
    width: 100%;
}
iframe a {
    display: none!important;
}
.appar {
    display: none;
}

/* Responsive */


@media (max-width: 1640px) {

}

@media (max-width: 1000px) {
    #attribution_block {
        display: none!important;
    }
    .attribution {
        display: none!important;
    }
    #container a {
        display: none!important;
    }
}

@media (max-width: 1400px) {
    .box-card {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        width: 100% !important;
        margin-bottom: 1rem;

    }

    .box-right {
        width: 100% !important;
    }
}

@media (max-width: 1500px) {
    .box-link {
      padding: 3rem 3rem 2rem 3rem;
    }
.box-link a {
    width: 99%!important;
    margin-bottom: 1rem;
}
}

@media (max-width: 1074px) {
   footer div {
       text-align: center;
       width: 100%!important;
       flex-direction: column;
   }
    footer .mr-6 {
        margin-right: 0!important;
    }
    footer div p{
        text-align: center;

    }
    footer div div {
        margin-bottom: 2rem;
    }
    footer div div div {
        flex-direction: row;
        align-items: center;
        justify-content: center!important;
        gap: 2rem;
        margin-top: 1rem;
    }
}

@media (max-width: 1320px) {
 .card-all {
     width: 48%!important;
 }

}


@media (max-width: 996px) {
    .top-flex {
        flex-direction: column;
    }
    .top-flex div{
        width: 100%!important;
        margin-top: 2rem;
    }
}
@media (max-width: 950px) {
    .phone {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .phone a {
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 808px) {
    .card-all {
        width: 100%!important;
    }
    .pt-16 {
        padding-top: 1rem!important;
    }
    .actu {
        display: none!important;
    }
    .appar{
        display: block!important;
    }

}

@media (max-width: 600px) {
  .wrap {
    padding: 0 1rem;
  }

    .h-96 {
        height: 145px!important;
    }


}

@media (min-width: 530px) {
    .lottie {
        height: 312px !important;
    }
}
@media (min-width: 480px) {
    .lottie {
        height: 150px !important;
    }
}
